<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły danego tytułu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="/authors/">Do listy autorów</a><br><br>
    <a href="/books/">Do listy książek</a><br><br>
    <table>
        <thead>
        <th>Tytuł</th>
        <th>Autor</th>
        <th>Rok wydania</th>
        <th>Wypożyczenia</th>
        </thead>
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.year }}</td>
            <td>{{ book.borrowed [-1]}}</td>
        </tr>
    </table>

    <br>
    <a href ="/books/delete/{{book_id}}"><input type="submit" value="Usuń książkę z biblioteki"></a>
    <!--<br><br>
    <a href ="/sql/books/update/{{book_id}}"><input type="submit" value="Zmień dane książki"></a>-->

    <h2> Zmień dane: </h2>
    <form method="POST" action="/books/{{ book_id }}">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <input type="submit" value="Zapisz">
    </form>-->
</body>
</html>