<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tu tworzymy bibliotekę i widzimy listę</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<h2>Lista książek w bibliotece</h2>
<a href="/sql/authors/">Do listy autorów</a><br><br>
<a href="/sql/borrowing/">Do listy wypożyczeń</a><br><br>

<table>
    <thead>
    <th>Tytuł</th>
    <th>Autor</th>
    <th>Rok wydania</th>
    </thead>
{% for book in books %}
    <tr>
        <td><a href="/sql/books/{{ book.id }}">{{ book.title }}</a></td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
    </tr>
{% endfor %}
</table>
<div>
    <h2> Dodaj nowy tytuł do biblioteki: </h2>
    <form method="POST" action="/sql/books/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table><br>
        <input type="submit" value="Zapisz">
    </form>
</div>
</body>
</html>